<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Welcome to RECAPS</h1>
        <p>Start your research exploration by submitting your main question.</p>
        <a href="/question/input" class="btn btn-primary">Submit Question</a>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>